@media screen and (max-width: 992px) {

    body, html{
      /* heigh: 100%; */
        height: 100%; 
        width: 100%;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

    body{
      display: flex;
      flex-direction: column;
    }

    *{
        /* border: 2px solid violet; */
        box-sizing: border-box;
    }

  header{
    width: 100vw;
    height: 10vh;
    display:flex;
    flex-direction: row;
    background-color: cadetblue;
  }

  h1{
    display: inline;
  }

  .head-block{
    display: inline;
    width: 33vw;
  }

  .head-block-r{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 33vw;
  }

  main{
    padding: 0px;
  }
    
  .calendar-nav{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }

  .month-span{
    padding: 0px 10px 0px 10px;
    min-width: 30vw;
  }

  #mainContainer{
    /* height: 80vh; */
    flex-grow: 1;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
  }

  .selectedDay{
    background-color: blueviolet;
  }

  #recipeContainer{
    /* height: 40vh; */
    flex-grow: 2;
    overflow-y: scroll;
  }

  .btn-container{
    display: flex;
    flex-direction: column;
  }

  .btn-subcontainer{
    display: flex;
    flex-direction: row;
  }

  #recipeContainer{
    background-color: cadetblue;
    /* border-top: 1px violet solid; */
    padding: 5vw 0vw 2vw 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer{
    background-color: cadetblue;
    height: 10vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .footer-block{
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
  }

  .footer-block-2{
    height: 3vh;
    width: 100vw;
  }

  .sub-foot{
    width: 24vw;
  }
  }